<div class="root-container">
  <div class="d-flex flex-row">
    <h1 class="block-fill">ToDo List Scloud</h1>
    <language-change></language-change>
  </div>
  <div class="current-add-container">
    <div class="panel block-fill">
      <todo-current-counts></todo-current-counts>
    </div>
    <div class="panel block-fill justify-content-center">
      <todo-add></todo-add>
    </div>
  </div>
  <div class="panel">
    <todo-list></todo-list>
  </div>
  <div class="board-panel"><todo-board></todo-board></div>
</div>
